@model milkTea.Models.ModelController.OrderModel
@{
	ViewBag.Title = "Order";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var shipList = new milkTea.Models.ModelController.OrderModel().allShip();
}

<h2 class="p-3" style="font-family: cursive; color:deeppink">Thanh toán</h2>

<div class="container" style="background-color: #fff; border: 1px solid #e3e6f0; margin-bottom: 2rem;">
	<h2 class="h2">Địa chỉ nhận hàng</h2>
	<table class="table">
		<thead>
			<tr>
				<td>Họ tên</td>
				<td>Số điện thoại</td>
				<td>Địa chỉ</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.user.FirstName @Model.user.LastName</td>
				<td>@Model.user.PhoneNumber</td>
				<td>@Model.user.Address</td>
				<td><a href="@Url.Action("Index", "Customer")">Thay đổi</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container" style="background-color: #fff; border: 1px solid #e3e6f0; ">
	<table class="table">
		<thead style="border-top: hidden">
			<tr>
				<td>Sản phẩm</td>
				<td></td>
				<td>Đơn giá</td>
				<td>Số lượng</td>
				<td>Size</td>
				<td>Thành tiền</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var items in Model.carts)
			{
				double total = Convert.ToDouble(items.Products_Detail.Price * items.Amount);
				<tr>
					<td>@items.Products_Detail.Name</td>
					<td><img src="@items.Products_Detail.Imgage_url" style="width: 100px; height: 100px; object-fit: cover" /></td>
					<td>@items.Products_Detail.Price&nbsp;VNĐ</td>
					<td>@items.Amount</td>
					<td>@items.Products_Detail.Size</td>
					<td>
						@total &nbsp;VNĐ
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" style="font-size: 25px"><br />Tổng tiền thanh toán: @ViewBag.TotalMoney &nbsp;VNĐ</td>
			</tr>
		</tfoot>
	</table>
	<div style="padding-right: 5rem;">
		@using (Html.BeginForm("Order", "Customer", FormMethod.Post))
		{
			<button type="submit" class="btn btn-primary" style="float: right; margin: 1rem;">Đặt hàng</button>
			  <div class="form-group" style="display: grid">
                		<label>Phương thức giao hàng</label>
                		@Html.DropDownListFor(Model => Model.detail.ShipId, new SelectList(shipList, "ShipId","Name"), htmlAttributes: new { @class = "form-control" })
            		</div>
			<div class="form-group" style="display: grid">
				<label>Ghi chú</label>
				@Html.TextAreaFor(Model => Model.detail.Note, new { @class = "form-control", @style = "width: 50rem;" })
			</div>
		}
	</div>

</div>
