@model IEnumerable<milkTea.Models.Cart>
@{
	ViewBag.Title = "CartInDb";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
	<script>
		$('#buy').click(function (e) {
			e.preventDefault();
			$.ajax({
				url: '/Customer/checkProduct',
				async: true,
				success: function (msg) {
					if (msg == 'false') {
						alert('Số lượng sản phẩm không đủ. Nhập lại!!!');
					}
					else {
						setTimeout(function () {
							window.location.href = '' + msg + '';
						}, 100);
					}
				}
			})
		})
	</script>
}

@if (Model.Count() > 0)
{
	<table class="table">
		<thead>
			<tr>
				<td>Sản phẩm</td>
				<td></td>
				<td>Đơn giá</td>
				<td>Số lượng</td>
				<td>Size</td>
				<td>Thành tiền</td>
				<td>Shop</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var items in Model)
			{
				float total = (items.Products_Detail.Price * items.Amount);
				<tr>
					<td>@items.Products_Detail.Name</td>
					<td><img src="@items.Products_Detail.Imgage_url" style="width: 100px; height: 100px; object-fit: cover" /></td>
					<td>@items.Products_Detail.Price</td>
					<td>
						@using (Html.BeginForm("UpdateAmountCard", "Cart"))
						{
							<input type="hidden" value="@items.ProductId" name="ProductId" />
							<input type="number" min="1" max="@items.Products_Detail.Quantity" value="@items.Amount" name="Amount" style="width: 40px;" />
							<input type="submit" value="Cập nhật" class="btn btn-primary" />
						}
					</td>
					<td>@items.Products_Detail.Size</td>
					<td>
						@total &nbsp;VNĐ
					</td>
					<td>
						<a href="#">@items.Products_Detail.Seller</a>
					</td>
					<td>
						<a href="/Cart/RemoveCart/@items.ProductId">Xóa khỏi giỏ hàng</a>
					</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" style="font-size: 25px"><br />Tổng tiền giỏ hàng: @ViewBag.TotalMoney &nbsp;VNĐ</td>
			</tr>
		</tfoot>
	</table>
	<div style="padding-right: 5rem;">
		<button id="buy" class="btn btn-primary" style="float: right">Mua hàng</button>
	</div>
}
else
{
	<h2 style="padding: 2rem;">Chưa có sản phẩm nào trong giỏ hàng</h2>
}
