@model PagedList.IPagedList<milkTea.Models.Products_Detail>

@using PagedList.Mvc;
@{
	ViewBag.Title = "Category";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="p-3" style="font-family: cursive; color:deeppink">@ViewBag.CatName</h2>

<div class="wrapper" id="body">
	@{
		foreach (var items in Model)
		{
			<div class="card">
				<img src="@items.Imgage_url" alt="">
				<div class="content">
					<div class="row">
						<div class="details">
							<span>@items.Name</span>
							<p>@items.Desciption</p>
						</div>
						<div class="price">@items.Price &nbsp;VNĐ</div>
					</div>
					<div class="buttons">
						<button class="cart-btn">
							<a href="@Url.Action("AddToCart", "Cart", new { id = items.ProductId })">
								Mua ngay
							</a>
						</button>
						<button class="cart-btn">
							<a>
								Thêm vào giỏ hàng
							</a>
						</button>
					</div>
				</div>
			</div>
		}
	}
	
</div>

<div style="margin:1rem 3rem 1rem 1rem; float:right">
	@Html.PagedListPager(Model, Page => Url.Action("Category", new { ViewBag.cat, Page }))

</div>